<div class="actions">
  <button *ngIf="show" class="btn btn-primary btn-sm float-end" (click)="showHide()">{{ show ? 'X' : 'Mostrar' }}</button>
</div>
<div *ngIf="show" @fadeInOut>
  <div class = "container">
    <div class = "row gy-lg-5 align-items-center">
        <div class = "col-lg-6 order-lg-1 text-center text-lg-start">
            <div class = "title pt-3 pb-5">
                <h1 class = "position-relative d-inline-block ms-4">¿Quieres beneciciarte de un 5% de descuento en el total de tu alquiler?</h1>
                <h2 class="p-4 text-danger">Alquila más de siete días y obtendrás un 5% de descuento</h2>
            </div>

        </div>
        <div class = "col-lg-6 order-lg-0">
          <img  width="500" src="../../../assets/imgs/descuento.png" alt="">
        </div>
    </div>
</div>

</div>
<!-- about us -->
<section id = "about" class = "py-5">
  <div class = "container">
      <div class = "row gy-lg-5 align-items-center">
          <div class = "col-lg-6 order-lg-1 text-center text-lg-start">
              <div class = "title pt-3 pb-5">
                  <h2 class = "position-relative d-inline-block ms-4">¿Por qué alquilar una moto eléctrica?</h2>
              </div>
              <p class = "lead text-muted">La conducción de una moto eléctrica es muy diferente a la de una convencional en muchos sentidos. Por ejemplo, el poco ruido que se escucha es el de las ruedas al pasar sobre el asfalto. Esto puede resultar especialmente agradable cuando tan solo buscas llegar del punto A al punto B.

                Otra de las diferencias que se experimentan al conducir una moto eléctrica es la suavidad en la aceleración. Si bien las hay que pueden alcanzar mayor velocidad en menos tiempo, esa forma de acelerar carece por completo de tirones, es progresiva y lineal. Además, no hay que hacer ningún cambio. Es más fácil de conducir. .</p>
          </div>
          <div class = "col-lg-6 order-lg-0">
              <img src = "../../../assets/imgs/about.png" alt = "" class = "img-fluid">
          </div>
      </div>
  </div>
</section>
<!-- end of about us -->

<nav class="navbar navbar-light bg-light justify-content-between mt-3 row">

  <form class="container-fluid col">
    <input
      class="form-control"
      type="text"
      name="search"
      placeholder="Search"
      aria-label="Search"
      [(ngModel)]="search"
    />
  </form>
</nav>
<div *ngIf="this.authService.isLoggedIn && this.authService.isAdmin">
  <a [routerLink]="['/motos/add']" >
    <button class="btn btn-primary btn-sm float-end">Agregar nueva moto</button>
  </a>
</div>

<div
  id="placesContainer"
  class="mb-4 mt-4 row row-cols-1 row-cols-md-3 row-cols-xl-3 g-4"

>
  <rm-moto-card
    class="col"
    *ngFor="let moto of motos | motoFilter: search "
    [moto]="moto"
    (deleted)="deleteMoto(moto)"
  ></rm-moto-card>
</div>
