<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                    style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">We are The Lotus Team</h4>
                </div>

                <form (ngSubmit)="onLogin()" #loginForm="ngForm">
                  <p>Ingrese los datos de su cuenta para acceder</p>

                  <div class="form-outline mb-4">
                    <input
                    type="email"
                    class="form-control"
                    placeholder="Dirección de email"
                    name="email"
                    [(ngModel)]="userLogin.email"
                    #emailModel="ngModel"
                    [ngClass]="validClasses(emailModel, 'is-valid', 'is-invalid')"
                    required />
                    <label class="form-label" for="form2Example11">Username</label>
                    <div class="invalid-feedback" *ngIf="emailModel.errors?.['required']">
                      La dirección de email no puede estar vacía
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <input
                    type="password"
                    class="form-control"
                    name="password"
                    [(ngModel)]="userLogin.password"
                    #passwordModel="ngModel"
                    [ngClass]="validClasses(passwordModel, 'is-valid', 'is-invalid')"
                    required /> />
                    <label class="form-label" for="form2Example22">Password</label>
                    <div class="invalid-feedback" *ngIf="passwordModel.errors?.['required']">
                      Introduzca su contraseña
                    </div>
                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">No tiene cuenta de usuario?</p>
                    <a [routerLink]="['/auth/register']" class="btn btn-secondary" href="/register.html" role="button">Create account</a>
                  </div>
                  <button
                  type="submit"
                  class="btn btn-primary"
                  [disabled]="loginForm.invalid">
                  Login
                  </button>

                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">We are more than just a company</h4>
                <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
