<section class="h-100 gradient-form mb-5" style="background-image: url('../../../assets/imgs/background.png')">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-12">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center mb-4">
                  <img src="../../../assets/imgs/logo.png"
                    style="width: 185px;" alt="logo">

                </div>

                <form (ngSubmit)="onLogin()" #loginForm="ngForm">
                  <p>Ingrese los datos de su cuenta para acceder a la aplicación</p>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example11">Username</label>
                    <input
                    type="email"
                    class="form-control"
                    placeholder="Dirección de email"
                    name="username"
                    [(ngModel)]="userLogin.username"
                    #usernameModel="ngModel"
                    [ngClass]="validClasses(usernameModel, 'is-valid', 'is-invalid')"
                    required />

                    <div class="invalid-feedback" *ngIf="usernameModel.errors?.['required']">
                      La dirección de email no puede estar vacía
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example22">Password</label>
                    <input
                    type="password"
                    class="form-control"
                    name="password"
                    [(ngModel)]="userLogin.password"
                    #passwordModel="ngModel"
                    [ngClass]="validClasses(passwordModel, 'is-valid', 'is-invalid')"
                    required />
                    <div class="invalid-feedback" *ngIf="passwordModel.errors?.['required']">
                      Introduzca su contraseña
                    </div>
                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">No tiene cuenta de usuario?</p>
                    <a [routerLink]="['/auth/register']" class="btn btn-secondary" href="/register.html" role="button">Create account</a>
                  </div>
                  <button
                  type="submit"
                  class="btn btn-primary"
                  [disabled]="loginForm.invalid">
                  Login
                  </button>

                </form>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
