<nav class="navbar navbar-light bg-light justify-content-between mt-3 row">
  <form class="container-fluid col">
    <input
      class="form-control"
      type="text"
      name="search"
      placeholder="Search"
      aria-label="Search"
      [(ngModel)]="search"
    />
  </form>
</nav>

<section class="intro mt-5 mb-5 ">

  <div class="bg-image h-100" style="background-image: url('../../../assets/imgs/background.png');min-height: 300px">
    <button class="btn btn-sm btn-success" (click)="goBack()">Go Back </button>
    <div class="mask d-flex align-items-center h-100">

      <div class="container" >
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="card mb-5 mt-5">

              <div class="card-block mt-3">
                <div *ngIf="reservations && reservations.length">
                  <div class="row headers g-0 mb-3 bg-secondary ">

                    <div class="col-1 p-3 px-5">#</div>
                    <div class="col-1 p-3">{{ headers.user }}</div>
                    <div class="col-1 p-3">{{ headers.startdate }}</div>
                    <div class="col-1 p-3">{{ headers.starthour }}</div>
                    <div class="col-1 p-3">{{ headers.enddate }}</div>
                    <div class="col-1 p-3">{{ headers.endhour }}</div>
                    <div class="col-1 p-3">{{ headers.moto }}</div>
                    <div class="col-2 p-3">{{ headers.pickuplocation }}</div>
                    <div class="col-2 p-3">{{ headers.returnlocation }}</div>
                    <div class="col-auto p-3"></div>

                  </div>
                  <rm-reservation-card
                    class="row g-0"
                    *ngFor="let reservation of reservations | reservationPipe: search "
                    [reservation]="reservation"
                    (deleted)="deleteReservation(reservation)"
                  >
                  </rm-reservation-card>
                </div>
                <ng-template [ngIf]="!reservations.length">
                  <div>
                    <h1 class="text-center">No hay reservas que mostrar</h1>
                  </div>
                </ng-template>
              </div>
            </div>

        </div>
      </div>
    </div>
  </div>
</div>
</section>



