<!-- Credit card form -->
<section>
  <div class="row">
    <div class="col-md-8 mb-4">
      <div class="card mb-4">
        <div class="card-header py-3">
          <h5 class="mb-0">Detalles de la reserva</h5>
        </div>
        <div class="card-body">
          <!-- <form
          (ngSubmit)="addReservation()"
          [formGroup]="reservationForm">

            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <label for="name">Name:</label>
                  <input
                  type="text"
                  class="form-control"
                  name="name"
                  formControlName="nameForm"
                  [ngClass]="validClasses(nameControl, 'is-valid', 'is-invalid')"
                />
                <div class="invalid-feedback" *ngIf="nameControl.errors?.['required']">
                  El nombre no puede quedar vacío
                </div>
                </div>
              </div>

            </div>

            <div class="form-outline mb-4">
              <label for="correo">Email:</label>
              <input
              type="text"
              class="form-control"
              name="email"
              formControlName="emailForm"
              [ngClass]="validClasses(emailControl, 'is-valid', 'is-invalid')"
            />
            <div class="invalid-feedback" *ngIf="emailControl.errors?.['required']">
              El email no puede quedar vació
            </div>
            </div>

            <div class="form-outline mb-4">
              <label for="correo">Fecha Recogida:</label>
              <input
              type="text"
              class="form-control"
              name="start"
              formControlName="startForm"
              [ngClass]="validClasses(startControl, 'is-valid', 'is-invalid')"
            />
            <div class="invalid-feedback" *ngIf="startControl.errors?.['required']">
              La fecha no puede quedar vacia
            </div>
            </div>

            <div class="form-outline mb-4">
              <label for="correo">Fecha Devolución:</label>
              <input
              type="text"
              class="form-control"
              name="end"
              formControlName="endForm"
              [ngClass]="validClasses(endControl, 'is-valid', 'is-invalid')"
            />
            <div class="invalid-feedback" *ngIf="endControl.errors?.['required']">
              La fecha no puede quedar vacia
            </div>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="reservationForm.invalid">Reservar</button>
            <button class="btn btn-success" (click)="goBack()">Go back</button>
          </form> -->

        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card mb-4">
        <div class="card-body">
          <h4 class="card-title"><a [routerLink]="" class="text-decoration-none">Modelo:{{ moto.model }}</a></h4>
          <p class="card-text">Descripción: {{ moto.description }}</p>
          <p class="card-text">Marca: {{ moto.brand }}</p>
          <div class="card-text">
            <small class="text-muted">
              <strong>Color: </strong>{{ moto.color }}
            </small>
          </div>
        </div>
        <div class="card-footer">
          <small class="text-muted">Precio: {{ moto.price}}€</small>
        </div>
    </div>
  </div>
  </div>
</section>


