<!-- Credit card form -->
<section>
  <div class="row">
    <div class="col-md-8 mb-4">
      <div class="card mb-4">
        <div class="card-header py-3">
          <h5 class="mb-0">DETALLES DE LA RESERVA</h5>
        </div>
        <div class="card-body">
        <form class="mt-4"
        (ngSubmit)="addReservation()"
              [formGroup]="reservationForm">

          <div class="form-outline mb-4">
            <label for="correo">Fecha Recogida:</label>
            <input
            type="date"
            class="form-control"
            name="startdate"
            formControlName="startdateForm"
            [ngClass]="validClasses(startdateControl, 'is-valid', 'is-invalid')"
            required
          />
            <div class="invalid-feedback" *ngIf="startdateControl.errors?.['required']">
              La fecha no puede quedar vacia
            </div>
          </div>
          <div class="form-outline mb-4">
            <label for="correo">Fecha Devolución:</label>
            <input
            type="date"
            class="form-control"
            name="enddate"
            formControlName="enddateForm"
            [ngClass]="validClasses(enddateControl, 'is-valid', 'is-invalid')"
            required
          />
            <div class="invalid-feedback" *ngIf="enddateControl.errors?.['required']">
              La fecha no puede quedar vacia
            </div>
          </div>
          <div class="form-outline mb-4">
            <label for="phone">Hora Recogida:</label>
            <input
            type="time"
            class="form-control"
            name="starthour"
            formControlName="starthourForm"
            [ngClass]="validClasses(starthourControl, 'is-valid', 'is-invalid')"
            required
          />
            <div class="invalid-feedback" *ngIf="starthourControl.errors?.['required']">
              La hora no puede estar vacía
            </div>
          </div>
          <div class="form-outline mb-4">
            <label for="phone">Hora Devolución:</label>
            <input
            type="time"
            class="form-control"
            name="endhour"
            formControlName="endhourForm"
            [ngClass]="validClasses(endhourControl, 'is-valid', 'is-invalid')"
            required
          />
            <div class="invalid-feedback" *ngIf="endhourControl.errors?.['required']">
              La hora no puede estar vacía
            </div>
          </div>
          <div class="form-outline mb-4">
            <label for="phone">Lugar Recogida: </label>
            <input
            type="text"
            class="form-control"
            name="pickup"
            formControlName="pickupForm"
            [ngClass]="validClasses(pickupControl, 'is-valid', 'is-invalid')"
            required
          />
            <div class="invalid-feedback" *ngIf="pickupControl.errors?.['required']">
              El dato no puede estar vacío
            </div>
          </div>
          <div class="form-outline mb-4">
            <label for="phone">Lugar Devolución: </label>
            <input
            type="text"
            class="form-control"
            name="return"
            formControlName="returnForm"
            [ngClass]="validClasses(returnControl, 'is-valid', 'is-invalid')"
            required
          />
            <div class="invalid-feedback" *ngIf="returnControl.errors?.['required']">
              El dato no puede estar vacío
            </div>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="reservationForm.invalid">Reservar</button>
          <button class="btn btn-success" (click)="goBack()">Go back</button>
        </form>

        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card mb-4">
        <div class="card-header py-3">
          <h5 class="mb-0">MOTO SELECCIONADA</h5>
        </div>
        <div class="card-body">
          <img  class="card-img-top" style="height: 250px;" [src]="getSantizeUrl(moto.photo!)"
          [@scale]='scale' (click)="toggleScale()"/>
          <h4 class="card-title">Modelo: {{ moto.model }}</h4>
          <p class="card-text">Descripción: {{ moto.description }}</p>
          <p class="card-text">Marca: {{ moto.brand }}</p>
          <div class="card-text">
            <small class="text-muted">
              <strong>Color: </strong>{{ moto.color }}
            </small>
          </div>
        </div>
        <div class="card-footer">
          <small class="text-muted">Precio: {{ moto.price}}€</small>
        </div>
    </div>
  </div>
  </div>
</section>


