<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
  <div class="container-fluid">
    <a class="navbar-brand">MotoHire</a>
    <button class = "navbar-toggler border-0" type = "button" data-bs-toggle = "collapse" data-bs-target = "#navMenu">
      <span class = "navbar-toggler-icon"></span>
  </button>

  <div class = "collapse navbar-collapse order-lg-1" id = "navMenu">
      <ul class = "navbar-nav mx-auto text-center" >

          <li class = "nav-item px-2 py-2">
              <a class = "nav-link text-uppercase text-light" [routerLink]="['/motos']" routerLinkActive="active">Home</a>
          </li>
          <li class = "nav-item px-2 py-2" *ngIf="this.authService.isLoggedIn" >
              <a class = "nav-link text-uppercase text-light" [routerLink]="['/reservations']" routerLinkActive="active">Reservas</a>
          </li>
          <li class = "nav-item px-2 py-2" *ngIf="this.authService.isLoggedIn">
              <a class = "nav-link text-uppercase text-light" [routerLink]="['/users/profile']" routerLinkActive="active">Perfil</a>
          </li>

          <li class = "nav-item px-2 py-2" *ngIf="this.authService.isLoggedIn && this.authService.isAdmin ">
            <a class = "nav-link text-uppercase text-light" [routerLink]="['/users']" routerLinkActive="active">Administrar Usuarios</a>
          </li>
          <li class = "nav-item px-2 py-2" *ngIf="this.authService.isLoggedIn">
              <a class = "nav-link text-uppercase text-light" (click)="logout()" [routerLink]=""  >Logout</a>
          </li>
          <li class = "nav-item px-2 py-2" *ngIf="!this.authService.isLoggedIn">
            <a class = "nav-link text-uppercase text-light" [routerLink]="['/auth/login']" routerLinkActive="active">Login</a>
          </li>
          <li class = "nav-item px-2 py-2" *ngIf="!this.authService.isLoggedIn">
            <a class = "nav-link text-uppercase text-light" [routerLink]="['/auth/register']" routerLinkActive="active">Register</a>
          </li>

      </ul>
  </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

  <!-- footer -->
  <footer class = "bg-dark py-5">
    <div class = "container">
        <div class = "row text-white g-4">
            <div class = "col-md-6 col-lg-4">
                <a class = "text-uppercase text-decoration-none brand text-white" href = "index.html">MotoHire</a>
                <p class = "text-white text-muted mt-3">Con MotoHire alquila motos elécticas a precios increíbles sin pagos de fianza. Es muy sencillo: busca tu moto ideal y realiza la reserva a través de nuestra web</p>
            </div>

            <div class = "col-md-6 col-lg-4">
                <h5 class = "fw-light">Links</h5>
                <ul class = "list-unstyled">
                    <li class = "my-3">
                        <a href = "#" class = "text-white text-decoration-none text-muted">
                         Home
                        </a>
                    </li>
                    <li class = "my-3">
                        <a href = "#" class = "text-white text-decoration-none text-muted">
                           Términos y condiciones
                        </a>
                    </li>
                    <li class = "my-3">
                        <a href = "#" class = "text-white text-decoration-none text-muted">
                           About Us
                        </a>
                    </li>
                </ul>
            </div>

            <div class = "col-md-6 col-lg-4">
                <h5 class = "fw-light mb-3">Contacto</h5>
                <div class = "d-flex justify-content-start align-items-start my-2 text-muted">
                    <span class = "fw-light">
                        Calle Ancha 34, Alicante
                    </span>
                </div>
                <div class = "d-flex justify-content-start align-items-start my-2 text-muted">
                    <span class = "fw-light">
                        motohire.support@gmail.com
                    </span>
                </div>
                <div class = "d-flex justify-content-start align-items-start my-2 text-muted">
                    <span class = "fw-light">
                        6565656565
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end of footer -->
