<section class="h-100 gradient-form mb-5" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="container py-5 h-100" >
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-6" [@scale]='scale' (click)="toggleScale()">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-12">
              <div class="card-body p-md-5 mx-md-4" >

                <div class="text-center mb-4">
                  <img src="../../../assets/imgs/logo.png"
                    style="width: 185px;" alt="logo">

                </div>

                <div class="col-lg-12" >
                  <div class="card mb-4">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-6">
                          <p class="mb-0">Nombre</p>
                        </div>
                        <div class="col-6">
                          <p class="text-muted mb-0">{{user.name}}</p>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-6">
                          <p class="mb-0">Email</p>
                        </div>
                        <div class="col-6">
                          <p class="text-muted mb-0">{{user.email}}</p>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-6">
                          <p class="mb-0">Teléfono</p>
                        </div>
                        <div class="col-6">
                          <p class="text-muted mb-0">{{user.phone}}</p>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-6">
                          <p class="mb-0">Carnet de conducir</p>
                        </div>
                        <div class="col-6">
                          <p class="text-muted mb-0">{{user.license}}</p>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-6">
                          <p class="mb-0">Password</p>
                        </div>
                        <div class="col-6">
                          <p class="text-muted mb-0">******</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-success" (click)="goBack()">Go Back</button>
  <button
  type="button"
  class="btn btn-primary ms-3"
  (click)="edit()">Editar Usuario
</button>
</section>




