
      <div class="card mb-4" >

        <!-- <img  class="card-img-top" src="../../../assets/imgs/logo.png" /> -->
        <img  class="card-img-top" style="height: 250px;"
        [src]="getSantizeUrl(moto.photo!)" [@scale]='scale' (click)="toggleScale()" />
        <div class="card-body">
          <h4 class="card-title">Modelo: {{ moto.model }}</h4>
          <p class="card-text">Descripción: {{ moto.description }}</p>
          <p class="card-text">Marca: {{ moto.brand }}</p>
          <div class="card-text">
            <small class="text-muted">
              <strong>Color: </strong>{{ moto.color }}
            </small>
          </div>
        </div>
        <div class="card-footer">
          <small class="text-muted">Precio: {{ moto.price}}€</small>
          <a *ngIf="!this.authService.isAdmin" [routerLink]="['/motos', moto.id]" >
            <button class="btn btn-success btn-sm float-end">Reservar</button>
          </a>
        </div>
        <div class="card-footer" *ngIf="this.authService.isLoggedIn && this.authService.isAdmin ">

            <button class="btn btn-danger btn-sm float-end" (click)="delete()">Eliminar</button>


          <a [routerLink]="['/motos', moto.id, 'edit']" >
            <button class="btn btn-primary btn-sm float-end">Editar</button>
          </a>

        </div>
