/* You can add global styles to this file, and also import other style files */

html { height: 100%; }
body { margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: grid;
  min-width: 100vh;
  grid-template-rows: auto 1fr auto;}

.awesome-snackbar {
  --mdc-snackbar-supporting-text-color: brown;
  --mdc-snackbar-container-color: cyan;
  --mat-mdc-snack-bar-button-color: green;
}

.mat-dialog-title {
  color: white;
  background-color: #F48043;
  text-align: center;
  width: 100%;
  font-size: 20px;
  padding: 20px 0px !important;
}




