<!-- Section: Design Block -->
<section class="">
  <!-- Jumbotron -->
  <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">

        <div class="col-lg-12 mb-5 mb-lg-0">
          <div class="card">
            <div class="card-body py-5 px-md-5">
              <div class="text-center mb-4">
                <img src="../../../assets/imgs/logo.png"
                  style="width: 185px;" alt="logo">

              </div>
              <form (ngSubmit)="onRegister()"
              [formGroup]="registerForm">
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label for="correo">Email:</label>
                      <input
                      type="text"
                      class="form-control"
                      name="email"
                      formControlName="emailForm"
                      [ngClass]="validClasses(emailControl, 'is-valid', 'is-invalid')"
                      />
                      <div class="invalid-feedback" *ngIf="emailControl.errors?.['required']">
                        Email cannot be empty
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline mb-4">
                      <label for="correo">Repetir Email:</label>
                      <input
                      type="text"
                      class="form-control"
                      name="email2"
                      formControlName="email2Form"
                      [ngClass]="validClasses(email2Control, 'is-valid', 'is-invalid')"
                      />
                      <div class="invalid-feedback" *ngIf="email2Control.errors?.['required']">
                        El email no puede quedar vacío
                      </div>
                      <div class="invalid-feedback" *ngIf="email2Control.errors?.['noEquals']">
                        Los emails no son iguales
                      </div>

                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label for="nombre">Nombre:</label>
                      <input
                      type="text"
                      class="form-control"
                      name="name"
                      formControlName="nameForm"
                      [ngClass]="validClasses(nameControl, 'is-valid', 'is-invalid')"
                      />
                      <div class="invalid-feedback" *ngIf="nameControl.errors?.['required']">
                        El nombre no puede quedar vacío
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label for="nombre">Carnet de conducir:</label>
                      <input
                      type="text"
                      class="form-control"
                      name="license"
                      formControlName="licenseForm"
                      [ngClass]="validClasses(licenseControl, 'is-valid', 'is-invalid')"
                      />
                      <div class="invalid-feedback" *ngIf="licenseControl.errors?.['required']">
                        El carnet de conducir no puede quedar vacío
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label for="nombre">Teléfono:</label>
                      <input
                      type="number"
                      class="form-control"
                      name="phone"
                      formControlName="phoneForm"
                      [ngClass]="validClasses(phoneControl, 'is-valid', 'is-invalid')"
                      />
                      <div class="invalid-feedback" *ngIf="phoneControl.errors?.['required']">
                        El teléfono no puede quedar vacío
                      </div>
                      <div class="invalid-feedback" *ngIf="phoneControl.errors?.['minlength']">
                        Debes introducir un teléfono válido
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline mb-4">
                      <label for="password">Password:</label>
                      <input
                      type="password"
                      class="form-control"
                      name="password"
                      formControlName="passwordForm"
                      [ngClass]="validClasses(passwordControl, 'is-valid', 'is-invalid')"
                      required />
                      <div class="invalid-feedback" *ngIf="passwordControl.errors?.['required']">
                        La contraseña no puede quedar vacía
                      </div>
                      <div class="invalid-feedback" *ngIf="passwordControl.errors?.['minlength']">
                        You must enter at least {{passwordControl.errors?.['minlength'].requiredLength - passwordControl.errors?.['minlength'].actualLength}} characters more
                      </div>
                    </div>
                  </div>
                </div>


                <!-- Submit button -->
                <a class="btn btn-secondary" href="login.html" role="button">Go back</a>
                <button type="submit" class="btn btn-primary"  [disabled]="registerForm.invalid">Register user</button>


              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->
